vcenter_url: "https://vcsa.local"
auth_id: "administrator@vcsa.local"
auth_pass: "123@vcsa"
slack_token: "xoxb-hoge"
slack_signing_secret: "xxxxx"
esxi_hosts:
- name: "esxi.vcsa.local"
  mac: "xx:xx:xx:xx:xx:xx"

